@media(max-width: 620px) {
    .cabecalho {
        padding: 30px 0;
    }
    .personagem-slider {
        padding: 0 15px;
        gap: 10px;
    }
    .btn-seta, .img-btn {
        width: 20px;
        height: 20px;

    }
    .lista-personagens {
        width: 380px;
        height: 430px;
    }
    .cartao .descricao-personagem .titulo-personagem {
        font-size: 14px;
    }
    .cartao .descricao-personagem .texto-personagem {
        max-height: 50px;
    }
}
@media(max-width: 320px) {
    .cabecalho {
        padding: 30px 0;
    }
    .personagem-slider {
        padding: 0 15px;
        gap: 10px;
    }
    .btn-seta, .img-btn {
        width: 20px;
        height: 20px;

    }
    .lista-personagens {
        width: 280px;
        height: 370px;
    }
    .cartao .descricao-personagem .titulo-personagem {
        font-size: 14px;
    }
    .cartao .descricao-personagem .texto-personagem {
        max-height: 50px;
    }
}